
<body>
    <div class="container">
      <p>
        Le projet consiste à créer un site web interactif permettant aux utilisateurs de participer à une compétition du célèbre
        jeu Pong.
        <br>
        Ce site web offre une expérience de jeu multijoueur en temps réel, accompagnée d'une interface utilisateur intuitive et
        d'un chat intégré.
        <br>
        Pour garantir la sécurité des utilisateurs, le backend est développé en utilisant le framework NestJS, tandis que le
        frontend est réalisé avec un framework TypeScript de choix.
        <br>
        Une base de données PostgreSQL est utilisée pour stocker les informations nécessaires.
        <br>
        Le site web offre une gamme de fonctionnalités pour améliorer l'expérience de jeu.
      </p>
      <div class="highlight">
        <p class="game-feature">Fonctionnalités du site :</p>
        <ul>
          <li class="list-item">Connexion via le système OAuth de l'intranet 42</li>
          <li class="list-item">Personnalisation du profil avec un nom d'utilisateur unique et un avatar</li>
          <li class="list-item">Activation de l'authentification à deux facteurs (2FA)</li>
          <li class="list-item">Système de chat avec channels publics, privés et protégés par mot de passe</li>
          <li class="list-item">Envoi de messages directs</li>
          <li class="list-item">Ajout d'amis et blocage d'autres utilisateurs</li>
          <li class="list-item">Consultation des profils des joueurs</li>
          <li class="list-item">Jeu Pong multijoueur en temps réel</li>
          <li class="list-item">Système de matching automatique pour trouver des adversaires</li>
          <li class="list-item">Options de personnalisation du jeu</li>
        </ul>
      </div>
      <p>Le projet met également l'accent sur la sécurité. Les mots de passe sont stockés de manière sécurisée grâce au
        chiffrement, et des mesures sont prises pour prévenir les injections SQL. Une validation côté serveur est mise en place
        pour les formulaires et les requêtes utilisateur.</p>
      <p>En résumé, ce projet vise à offrir une expérience de jeu interactive et compétitive du célèbre jeu Pong. Avec des
        fonctionnalités telles qu'un système de chat, des comptes utilisateur personnalisables et un jeu Pong multijoueur en
        temps réel, les utilisateurs pourront profiter d'une expérience de jeu immersive et divertissante.</p>
    </div>
  </body>
  