/* chat.component.css */
.chat-container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  /* max-height: 700px; */
  justify-content: space-between; /* Add this property to evenly distribute the content */
}


/* .sendMessageButton {  */
  /* left: 0px; */
/* } */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.starborder{
  transform: scale(0.7);

}

.example-full-width {
  width: 100%;
}

.mat-mdc-icon-button {
  margin: 0;
}

.icon-display {
  /* margin: 0; */
  transform: scale(0.7);
}

.volume_offbutton{
  transform: scale(0.7);
}

.sidebar {
  width: 200px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  padding: 10px;
}

.sidebar h3 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.sidebar li:last-child {
  border-bottom: none;
}

.messages{
  margin-left: 7%;
}

.active-room {
  background-color: #d1eaff;
}

.chat-messages {
  flex: 1;
  height: 700px;
  max-height: 700px;
  border: 1px solid #ccc;
}

.rooms_input{
  display: flex;
  flex-direction: column;
  max-height: 700px;
}

.input-container {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  padding: 10px;
}

.input-container input[type="text"] {
  margin-right: 10px;
}

.input-container button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #45a049;
}

.sendMessageButton {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.sendMessageButton input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.mat-drawer, .mat-sidenav {
  &[cdk-scrollable], &[cdkScrollable] {
    .mat-drawer-inner-container {
      overflow-y: auto;
    }
  }
}

.sendMessageButton button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sendMessageButton button:hover {
  background-color: #45a049;
}

.textMargin{
  margin: 3% 0;
}

#left-button{
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0px;
}

#right-button{
  z-index: 1; 
  position: absolute;
  top: 50%;
  right: 0px;
}

.message-username{
  font-size: 14px;
  color: #353535;
}

.message-date{
  color: #636363;
  font-size: 10px;
}

.message-text{
  padding: 5px;
  word-break: break-all;
  inline-size: 90%;
  overflow-x: hidden;
}
